{% extends 'core/emails/base_email.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block header %}Password Reset Request{% endblock %}

{% block content %}
<p>Dear {{ user.first_name }},</p>

<p>We received a request to reset your password for your VeeKenya account. If you didn't make this request, you can safely ignore this email.</p>

<p>To reset your password, click the button below:</p>

<a href="{{ reset_url }}" class="button">Reset Password</a>

<p>This link will expire in 24 hours for security reasons.</p>

<p>If you're having trouble clicking the button, copy and paste this URL into your browser:</p>
<p style="word-break: break-all;">{{ reset_url }}</p>

<p>For security reasons, this link will expire in 24 hours.</p>

<p>Best regards,<br>The VeeKenya Team</p>
{% endblock %} 